:host {
  position: relative;
  display: block;
}

.upload-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;

  mat-icon {
    font-size: 20px;
    height: 20px;
  }
}

.no-avatar {
  margin-right: 46px;
}
