:host {
  margin: 0 auto;
  display: block;
  width: 700px;
  padding-top: 4rem;
}

.form-fields-wrapper {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;

  .input-fields-container {
    flex-basis: 300px;
    min-width: 200px;
    max-width: 300px;

    mat-form-field {
      width: 100%;
    }
  }

  .avatar-container {
    max-width: 300px;

    img {
      width: 100%;
    }
  }
}

.buttons-container {
  display: flex;
  gap: 1rem;
}
