<div class="user-profile">
  @if (isLoadRequestInProgress) {
    Waiting for user data...
  }
  @else if (hasLoadingError) {
    Error while reading data!
    <button mat-stroked-button
            (click)="loadUserData()"
    >Retry</button>
  }
  @else {
    <form [formGroup]="form" (ngSubmit)="saveUserData()">

      <div class="form-fields-wrapper">

        <div class="input-fields-container">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" type="text" />
            <mat-error>
              @if (form.get('name')?.hasError('required')) {
                The name in required
              } @else if (form.get('name')?.hasError('duplicate_name')) {
                {{form.get('name')?.getError('duplicate_name')}}
              }
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="text" />
            <mat-error>
              @if (form.get('email')?.hasError('required')) {
                The email in required
              } @else if (form.get('email')?.hasError('email')) {
                Invalid email format
              }
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" type="text" />
            <mat-error>The address is required</mat-error>
          </mat-form-field>
        </div>

        <div class="avatar-container">
          <img src="/assets/avatar-placeholder.jpg" alt="avatar"/>
        </div>

      </div>

      <div class="buttons-container">
        <button mat-raised-button
                type="submit"
                color="primary"
                [disabled]="isSaveButtonDisabled"
        >Save</button>
        <button mat-button
                type="button"
                [disabled]="isResetButtonDisabled"
                (click)="restoreForm()"
        >Reset</button>
      </div>
    </form>
  }
</div>
