<div class="user-profile">
  @if (isLoadRequestInProgress) {
    Waiting for user data...
  }
  @else if (hasLoadingError) {
    Error while reading data!
    <button mat-stroked-button
            (click)="loadUserData()"
    >Retry</button>
  }
  @else {
    <form [formGroup]="form" (ngSubmit)="saveUserData()">

      <div class="form-fields-wrapper">

        <div class="input-fields-container">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" type="text" />
            <mat-error [appValidationError]="form.get('name')?.errors" [customMessages]="errorMessages?.['name']"></mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="text" />
            <mat-error [appValidationError]="form.get('email')?.errors" [customMessages]="errorMessages?.['email']"></mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" type="text" />
            <mat-error [appValidationError]="form.get('address')?.errors" [customMessages]="errorMessages?.['address']"></mat-error>
          </mat-form-field>
        </div>

        <div class="avatar-container">
          <img [src]="getAvatarFullUrl()" alt="avatar"/>

          <input #fileInput
                 type="file"
                 accept="image/*"
                 (change)="onImageSelected($event)"
          />
        </div>

      </div>

      <div class="buttons-container">
        <button mat-raised-button
                type="submit"
                color="primary"
                [disabled]="isSaveButtonDisabled"
        >Save</button>
        <button mat-button
                type="button"
                [disabled]="isResetButtonDisabled"
                (click)="restoreForm()"
        >Reset</button>
      </div>

      <div class="upload-progress-container">
        <mat-progress-bar *ngIf="uploadProgress"
                          mode="determinate"
                          [value]="uploadProgress"></mat-progress-bar>
      </div>

    </form>
  }
</div>
